In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population': [
        35.467, 63.935, 80.94, 60.665, 127.691, 64.511, 318.523
    ],
    'GPD': [
        1747566,
        234567,
        767767,
        656583,
        867855,
        4397203,
        7575746
    ],
    'Surface Area':[
        7588594,
        86895954,
        86794,
        567044,
        567543,
        645354,
        657875
    ],
    'HDI':[
        0.913,
        0.888,
        0.114,
        0.873,
        0.6574,
        0.451,
        0.466
    ],
    'Continents': [
        'Africa',
        'Europe',
        'Asia',
        'Australia',
        'America',
        'Europe',
        'Europe'
        
    ]
}, columns=['Population', 'GPD', 'Surface Area', 'HDI', 'Continents'])

In [3]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United states'
]

In [15]:
df

                Population      GPD  Surface Area     HDI Continents
Canada              35.467  1747566       7588594  0.9130     Africa
France              63.935   234567      86895954  0.8880     Europe
Germany             80.940   767767         86794  0.1140       Asia
Italy               60.665   656583        567044  0.8730  Australia
Japan              127.691   867855        567543  0.6574    America
United Kingdom      64.511  4397203        645354  0.4510     Europe
United states      318.523  7575746        657875  0.4660     Europe

In [4]:
df.columns

Index(['Population', 'GPD', 'Surface Area', 'HDI', 'Continents'], dtype='object')

In [5]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United states'],
      dtype='object')

In [19]:
df.head()

         Population      GPD  Surface Area     HDI Continents
Canada       35.467  1747566       7588594  0.9130     Africa
France       63.935   234567      86895954  0.8880     Europe
Germany      80.940   767767         86794  0.1140       Asia
Italy        60.665   656583        567044  0.8730  Australia
Japan       127.691   867855        567543  0.6574    America

In [20]:
df.tail()

                Population      GPD  Surface Area     HDI Continents
Germany             80.940   767767         86794  0.1140       Asia
Italy               60.665   656583        567044  0.8730  Australia
Japan              127.691   867855        567543  0.6574    America
United Kingdom      64.511  4397203        645354  0.4510     Europe
United states      318.523  7575746        657875  0.4660     Europe

In [22]:
df.shape

(7, 5)

In [23]:
df['GPD'].mean()

np.float64(2321041.0)

In [25]:
df[df['GPD'] < 600000]

        Population     GPD  Surface Area    HDI Continents
France      63.935  234567      86895954  0.888     Europe

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United states
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GPD           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continents    7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [27]:
df.describe()

       Population           GPD  Surface Area      HDI
count    7.000000  7.000000e+00  7.000000e+00  7.00000
mean   107.390286  2.321041e+06  1.385845e+07  0.62320
std     97.272783  2.704917e+06  3.231511e+07  0.29758
min     35.467000  2.345670e+05  8.679400e+04  0.11400
25%     62.300000  7.121750e+05  5.672935e+05  0.45850
50%     64.511000  8.678550e+05  6.453540e+05  0.65740
75%    104.315500  3.072384e+06  4.123234e+06  0.88050
max    318.523000  7.575746e+06  8.689595e+07  0.91300

indexing selection and slicing

In [28]:
df['Population']

Canada             35.467
France             63.935
Germany            80.940
Italy              60.665
Japan             127.691
United Kingdom     64.511
United states     318.523
Name: Population, dtype: float64

In [29]:
df['Surface Area']

Canada             7588594
France            86895954
Germany              86794
Italy               567044
Japan               567543
United Kingdom      645354
United states       657875
Name: Surface Area, dtype: int64

In [30]:

df['Population'].to_frame()

                Population
Canada              35.467
France              63.935
Germany             80.940
Italy               60.665
Japan              127.691
United Kingdom      64.511
United states      318.523

In [32]:
df.loc['Italy'] #Direct slicing (works in an horizontal manner)

Population         60.665
GPD                656583
Surface Area       567044
HDI                 0.873
Continents      Australia
Name: Italy, dtype: object

In [35]:
#mutiple column selection 
df[['Population', 'HDI']]

                Population     HDI
Canada              35.467  0.9130
France              63.935  0.8880
Germany             80.940  0.1140
Italy               60.665  0.8730
Japan              127.691  0.6574
United Kingdom      64.511  0.4510
United states      318.523  0.4660

In [39]:
#selecting individual row = loc (works in an horizontal manner)

df.loc['France': 'United Kingdom']

                Population      GPD  Surface Area     HDI Continents
France              63.935   234567      86895954  0.8880     Europe
Germany             80.940   767767         86794  0.1140       Asia
Italy               60.665   656583        567044  0.8730  Australia
Japan              127.691   867855        567543  0.6574    America
United Kingdom      64.511  4397203        645354  0.4510     Europe

In [41]:
# selecting sequential positions row = iloc (works in an horizontal manner)
df.iloc[0]

Population       35.467
GPD             1747566
Surface Area    7588594
HDI               0.913
Continents       Africa
Name: Canada, dtype: object

In [42]:
df['HDI'] # (works in an horizontal manner)

Canada            0.9130
France            0.8880
Germany           0.1140
Italy             0.8730
Japan             0.6574
United Kingdom    0.4510
United states     0.4660
Name: HDI, dtype: float64

In [ ]:
df.rename({
    
})