In [6]:
import pandas as pd
import numpy as np

Pandas series

In [7]:
marks = pd.Series([35.467, 80.948,60.065, 127.061, 64.511, 318.523])
marks

0     35.467
1     80.948
2     60.065
3    127.061
4     64.511
5    318.523
dtype: float64

In [12]:
marks.dtype

dtype('float64')

In [13]:
marks.values

array([ 35.467,  80.948,  60.065, 127.061,  64.511, 318.523])

In [14]:
marks[3]

np.float64(127.061)

In [15]:
type(marks.values)

numpy.ndarray

In [16]:
marks.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
marks.index = [
    'Mathematics',
    'English',
    'Kiswahili',
    'Social Studies',
    'Business Studies',
    'Creative Arts'
]

In [8]:
marks

0     35.467
1     80.948
2     60.065
3    127.061
4     64.511
5    318.523
dtype: float64

In [19]:
marks.index

Index(['Mathematics', 'English', 'Kiswahili', 'Social Studies',
       'Business Studies', 'Creative Arts'],
      dtype='object')

In [20]:
type(marks.index)

pandas.core.indexes.base.Index

indexing

In [23]:
marks['Mathematics']

np.float64(35.467)

In [25]:
marks[[0, 1]]

C:\Users\Julio Lito\AppData\Local\Temp\ipykernel_15224\636496409.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marks[[0, 1]]

Mathematics    35.467
English        80.948
dtype: float64

In [26]:
marks +10

Mathematics          45.467
English              90.948
Kiswahili            70.065
Social Studies      137.061
Business Studies     74.511
Creative Arts       328.523
dtype: float64

In [9]:
 marks

0     35.467
1     80.948
2     60.065
3    127.061
4     64.511
5    318.523
dtype: float64

In [28]:
#  locating attributes using iLoc
marks.iloc[1]

np.float64(80.948)

In [30]:
marks[['English', 'Creative Arts']]

English           80.948
Creative Arts    318.523
dtype: float64

In [31]:
# the upper limit is included in the selection
marks['English': 'Creative Arts']

English              80.948
Kiswahili            60.065
Social Studies      127.061
Business Studies     64.511
Creative Arts       318.523
dtype: float64

Boolean arrays

In [10]:
marks

0     35.467
1     80.948
2     60.065
3    127.061
4     64.511
5    318.523
dtype: float64

In [33]:
marks > 145

Mathematics         False
English             False
Kiswahili           False
Social Studies      False
Business Studies    False
Creative Arts        True
dtype: bool

In [34]:
marks.values > 100

array([False, False, False,  True, False,  True])

In [35]:
marks[marks > 100]

Social Studies    127.061
Creative Arts     318.523
dtype: float64

In [11]:
marks

0     35.467
1     80.948
2     60.065
3    127.061
4     64.511
5    318.523
dtype: float64

new data

In [13]:
import numpy as np
import pandas as pd

In [47]:
grd4 = pd.Series([75, 74,56, 76, 81, 61, 85, 67, 34, 26])
grd4.index = pd.Series([
    'Shantel Musimbi',
    'Charity Ogodi',
    'Elvis Malengwe',
    'Kester Muyayano',
    'Movin Casen', 
    'Wayne Bahati',
    'Cecilia Ingadima',
    'PrincesJoy Kavulani',
    'Sebastian Kamuna',
    'Emmanuel Chegenye'
])

In [48]:
grd4

Shantel Musimbi        75
Charity Ogodi          74
Elvis Malengwe         56
Kester Muyayano        76
Movin Casen            81
Wayne Bahati           61
Cecilia Ingadima       85
PrincesJoy Kavulani    67
Sebastian Kamuna       34
Emmanuel Chegenye      26
dtype: int64

In [18]:
new_grd4 = grd4.sort_values()

In [24]:
grd4[['Sebastian Kamuna', 'Elvis Malengwe']]

Sebastian Kamuna    34
Elvis Malengwe      56
dtype: int64

In [30]:
for i in grd4:
    print(i)

75
74
56
76
81
61
85
67
34
26

In [33]:
grd4.mean()

np.float64(63.5)

In [34]:
grd4.std()

np.float64(19.772315100777764)

In [39]:
grd4[grd4<65]

Elvis Malengwe       56
Wayne Bahati         61
Sebastian Kamuna     34
Emmanuel Chegenye    26
dtype: int64

In [40]:
# ~ not
# & and
# | or

In [49]:
grd4[(grd4 > grd4.mean() - grd4.std() / 2) | (grd4 > grd4.mean() + grd4.std() / 2)] # above the mean minus the standard deviation OR above the mean plus standard deviation

Shantel Musimbi        75
Charity Ogodi          74
Elvis Malengwe         56
Kester Muyayano        76
Movin Casen            81
Wayne Bahati           61
Cecilia Ingadima       85
PrincesJoy Kavulani    67
dtype: int64

In [50]:
np.log(grd4)

Shantel Musimbi        4.317488
Charity Ogodi          4.304065
Elvis Malengwe         4.025352
Kester Muyayano        4.330733
Movin Casen            4.394449
Wayne Bahati           4.110874
Cecilia Ingadima       4.442651
PrincesJoy Kavulani    4.204693
Sebastian Kamuna       3.526361
Emmanuel Chegenye      3.258097
dtype: float64

In [51]:
grd4[(grd4 > 75) & (grd4 < 200)]

Kester Muyayano     76
Movin Casen         81
Cecilia Ingadima    85
dtype: int64

modifying series

In [52]:
grd4

Shantel Musimbi        75
Charity Ogodi          74
Elvis Malengwe         56
Kester Muyayano        76
Movin Casen            81
Wayne Bahati           61
Cecilia Ingadima       85
PrincesJoy Kavulani    67
Sebastian Kamuna       34
Emmanuel Chegenye      26
dtype: int64

In [53]:
grd4['Emmanuel Chegenye'] = 46

In [54]:
grd4

Shantel Musimbi        75
Charity Ogodi          74
Elvis Malengwe         56
Kester Muyayano        76
Movin Casen            81
Wayne Bahati           61
Cecilia Ingadima       85
PrincesJoy Kavulani    67
Sebastian Kamuna       34
Emmanuel Chegenye      46
dtype: int64